body {
    background-color: rgb(247, 250, 209);
}

.cover{
    background-color: rgb(247, 250, 209);
    position: absolute;
    top: 10%;
    left: 20%;
    width: 1000px;
    height: 80%;
    box-shadow:  0 0 10px gray;
}


.sideBar {
    background-color: rgb(23, 23, 23);
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 5px gray;
}

h5{
    color: rgb(58, 57, 57);
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 8%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 70px;
}

h2 {
    color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 70px;
}
.p1{
    color: rgb(125, 196, 20);
}

.p2{
    margin-top: -15px;
    opacity: 40%;
}

.person {
    display: flex;
    margin: 15px;
    padding: 10px;
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 10px;
}

h3 {
    color: white;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 5%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 70px;
}

.icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 45%;
        left: 48%;
        width: 750px;
        height: 80%;
}

.amount{
    position: absolute;
    margin: -20px;
    top: 20%;
    left: 85%;
}

.name {
    margin: 6px;
    padding: 10px;
    position: absolute;
    top: -30%;
    left: 5%;
}

.icon1{
    background-image: url('FIBL7618.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon2{
    background-image: url('IMG_0392.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon3{
    background-image: url('IMG_1251.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon4{
    background-image: url('IMG_3089.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon5{
    background-image: url('IMG_E1636.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon6{
    background-image: url('DACJ1233.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon7{
    background-image: url('EPGI3758.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon8{
    background-image: url('YCDA5248.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon9{
    background-image: url('IPBR9128.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.icon10{
    background-image: url('IMG_E2897.JPG');
    background-size: cover;
    margin: 6px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.content {
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 10px;
    padding: 10px;
    top: 48%;
    left: 56%;
    width: 800px;
    height: 90%;;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.tabs{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 70px;
}

.now{
    margin: 6px;
    padding: 10px;
    font-size: large;
    color: black;
    width: 115px;
    border-radius: 0 10px 10px 0;
    box-shadow: -5px 0 0 rgb(5, 80, 66);
    background-color: white;
}

.later {
    margin: 6px;
    padding: 10px;
    color: rgb(157, 155, 155);
}

.later:hover{
    background-color: cadetblue;
    color: black;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    transform: translateX(10px);
}

#max {
    position: absolute;
    top: 700%;
    left: 50%;
    transform: translate(-50%, -50%);
}